@layer resets, defaults, layouts, components;

@layer resets {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
  }

  body {
    min-height: 100vh;
    line-height: 1.5;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer defaults {
  :root {
    --gutter: 1rem;
    --full-bleed: 1 / -1;
    --with-gutter: 2 / 3;
    --max-content-width: 55em;
    @media (width > 50em) {
      --gutter: 6rem;
    }

    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color-scheme: light dark;
  }

  body {
    display: grid;
    grid-template-columns:
      minmax(var(--gutter), 1fr)
      minmax(0, var(--max-content-width))
      minmax(var(--gutter), 1fr);
    row-gap: 1rem;
    margin-block: 1rem;
  }

  header,
  footer {
    grid-column: var(--with-gutter);
  }

  main {
    display: grid;
    grid-column: var(--full-bleed);
    grid-template-columns: subgrid;
  }

  h1 {
    font-weight: bold;
  }

  h2 {
    font-weight: lighter;
  }

  @view-transition {
    navigation: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    ::view-transition {
      display: none;
    }
  }
}

@layer layouts {
  .article-list {
    display: grid;
    gap: 2rem;
    grid-column: var(--with-gutter);
    grid-auto-flow: dense;
    container-type: inline-size;
    a {
      text-decoration: none;
      color: currentColor;
    }
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-bottom: 0.25rem;
    }
    p {
      display: flex;
      justify-content: space-between;
    }
    span {
      color: light-dark(rgb(89, 89, 89), rgb(168, 168, 168));
      font-size: 1rem;
      margin-inline-start: 0.5rem;
      min-width: fit-content;
    }
  }

  .article-detail {
    display: grid;
    grid-column: var(--full-bleed);
    grid-template-columns: subgrid;
    grid-auto-rows: max-content;
    row-gap: 1rem;
    img {
      grid-column: var(--full-bleed);
      object-fit: cover;
      width: 100%;
    }
    p,
    h2 {
      grid-column: var(--with-gutter);
    }

    @media (width > 50em) {
      grid-template-columns: 1fr 1fr;
      grid-column: var(--with-gutter);
      column-gap: 2rem;
      img {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        aspect-ratio: 5 / 4;
        border-radius: 0.5rem;
      }
    }
  }
}

@layer components {
  @keyframes slide-in-top {
    from {
      transform: translateY(10%);
    }
    to {
      transform: translateY(0);
    }
  }
  ::view-transition-new(content) {
    animation: slide-in-top 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .small-card {
    grid-area: span 1 / span 1;
    img {
      aspect-ratio: 4 / 3;
    }
  }

  .large-card {
    grid-area: span 2 / span 2;
    img {
      aspect-ratio: 1 / 1;
    }
  }

  .xl-card {
    grid-area: span 2 / span 3;
    img {
      aspect-ratio: 16 / 9;
    }
  }

  @container (width < 50em) {
    .small-card,
    .large-card,
    .xl-card {
      grid-area: span 1;
      img {
        aspect-ratio: 16 / 9;
      }
    }
  }
}
